#cardSelection{
    width: 100%;
    margin: 10rem 0 !important;
    .v-card{
        width: 100%;
    }
}

.feedCards{
    width: 100%;
    .v-sheet{
        padding: 2rem;
        width: 100%;
    }
}