.mainObject-content{
    width: 100%;
    .subObject-content{
        width: 100%;
        .content-row{
            width: 100%;
            iframe{
                width: 100%;
            }
        }
    }
}

.v-list{
    width: 100%;
    .v-list-item{
        width: 100%;
    }
}